<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to REST-api</h1>
    <p>This api only response to post method and it's store it's data locally,</p>
    <p>It dosen't use any Database like mongodb, sql.</p>

    <h2>To post use: <a href="https://thisisthirdattemp.herokuapp.com/ticket">https://thisisthirdattemp.herokuapp.com/ticket</a> </h2>
    
</body>
</html>